@import 'settings';

body {
  margin: 0;
  padding: 0;
  border: 0 none;
  min-height: 100vh;
}
#app {
  font-family: 'Yantramanav', Helvetica, sans-serif;
  font-size: 15px;
  color: $text;
  max-width: 850px;
  padding: 0 25px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $primary;

  &:hover {
    color: darken($primary, 10%);
  }
}

a,
button {
  outline: 0 none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}