@import 'settings';

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0 none;
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
}

#app {
  @include center-fixed;
  font-family: 'Yantramanav', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.2em;
  letter-spacing: -1px;
  color: $text;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $primary;

  &:hover {
    color: darken($primary, 10%);
  }
}

a,
button {
  outline: 0 none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

a,
button,
h1,
h2,
h3,
p {
  margin: 0;
}

.-right {
  margin-left: auto;
  display: flex;
}

.transition-enter-active,
.transition-leave-active {
  transition: opacity .3s linear;
}
.transition-enter,
.transition-leave-to {
  opacity: 0;
}