$primary: #E3472F;
$text: #545454;
$lighter-text: #8E8E8E;
$grey1: #F0F0F0;
$grey2: #CACACA;
$white: #FEFEFE;

$tag-case-study: #F4973C;
$tag-discussion: #4271D6;
$tag-product-design: #00E2AD;
$tag-ux-ui: #00BBFF;

$link-facebook: #3D599B;
$link-twitter: #00ABEE;

%logo {
  position: relative;
  width: 2.1rem; 
  height: 2.5rem;
  border-radius: 1.1rem/ 2.2rem;
  background: $primary;
  transition: opacity .5s;
  transform: rotate(90deg);
  display: block;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
  }
  &:before {
    transform: rotate(60deg);
  }
  &:after {
    transform: rotate(-60deg);
  }
}

%logo-title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  width: 2.1rem;
  text-align: center;
  padding: .7rem 0;
  color: $white;
}