$primary: #E3472F;
$text: #545454;
$lighter-text: #8E8E8E;
$grey1: #F0F0F0;
$grey2: #CACACA;
$white: #FEFEFE;

$tag-case-study: #F4973C;
$tag-discussion: #4271D6;
$tag-product-design: #00E2AD;
$tag-ux-ui: #00BBFF;
